@import url(https://fonts.googleapis.com/css?family=Oxygen);
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  margin: 0 auto;
  text-align: center;
  background-color: #1B4E70;
  height: 82px;
  color: #35F261;
}

body {
 background-color: #2B7CB3;
 color: black;
 font-family: 'Oxygen', sans-serif;
 text-align: center;
 margin: 0 auto;
  }

.bigTitle {
  color: #35F261;
}


a { color: #35F261; }

.angular-google-map-container {
  height: 520px;
  width: 960px;
  border: solid black;
  margin: 0 auto;
  border-radius: 10px;
}

#uploadInput {
  width: 190px;
  margin: 0 auto;
  text-align: center;
}

.bigButtons{
  width: 50%;
}

img {
  border-radius: 10px;
}

.btn-success,
.btn-danger
 {
  border-radius: 10px;
  border: solid black .1em;
}

article {
  width: 55%;
  margin: 0 auto;
}

.hoverImage:hover {
opacity: .5;
-webkit-transform: scale(1.08);
 -moz-transform:    scale(1.08);
 -o-transform:      scale(1.08);
 -ms-transform:     scale(1.08);
}

.logoHover:hover {
  opacity: .5;
}

.mainPhoto {
  margin: 0 auto;
}

.navbar-inverse { background-color: #1B4E70}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #7DFFA8}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #7DFFA8}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #35F261}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #35F261}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #8330FF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #428BCA}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #1B4E70}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #7DFFA8}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #7DFFA8}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #7DFFA8}

.carousel {
  height: 500px;
  margin-bottom: 60px;
  position: relative;
  display: block;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item{
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}





.pac-controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px !important;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

.label {
color: black;
font-size: 20px;
}
