

 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


#map {
  height: 60%;
  width: 50%;
  margin: 0 auto;
}


a { color: #00B7FF; }

.map {
  height: 400px;
  width: 400px;
  border: solid black;
}
