<div class="contact-page">
<div class="container">
<div class="row">
  <div class="col-md-12">

<br>
<br>

<h1 class="center">About MapDoc</h1>

<p class="description center">Learn what it does.</p>
<br>

  <article>
  MapDoc is an app which allows users to add articles with a related location so that other researchers can have the ability to search by location,
  subject and title. Writers then have the ability to edit and remove what they have uploaded. Created so work can be studied and connected.

  </article>

  <br>
  <br>

        <section  id="features" class="paddingtop20 features-home-page">

                <div class="container paddingtop20">
                   <div class="row">
                    <div class="col-md-12">
                        <ul class="thumbnails list-unstyled">
                            <li class="col-md-3">
                                <div class="thumbnail border-left">
                                    <div class="feature-icon">
                                        <i class="oi oi-data-transfer-upload icon-10x color1"></i>
                                    </div>
                                    <h4>Upload your Work</h4>
                                    <p>Share your work with fellow researchers.</p>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail border-none">
                                    <div class="feature-icon">
                                        <i class="oi oi-magnifying-glass icon-10x color2"></i>
                                    </div>
                                    <h4>Find Work</h4>
                                    <p>Search for work out there.</p>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail border-right">
                                    <div class="feature-icon">
                                        <i class="oi oi-dashboard icon-10x color3"></i>
                                    </div>
                                    <h4>Dashboard</h4>
                                    <p>Organize your posts.</p>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail border-right">
                                    <div class="feature-icon">
                                        <i class="oi oi-map-marker icon-10x color4"></i>
                                    </div>
                                    <h4>About</h4>
                                    <p>Read about MapDoc.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                </div>



            </section>


</div>

</div>

</div>
</div>

