<div class="container">
<br>

<div class="row">
  <div class="col-md-6 bigButtons">
    <h2>Post up your work</h2>
    <br>
    <img src="assets/images/pen.png" height = "150">
    <br>
    <br>
    <button class="btn btn-success" type="submit" ui-sref="post">Submit a Document</button>
    <br>
  </div>

<div class="col-md-6 bigButtons">
    <h2>Find a document</h2>
    <br>
    <img src="assets/images/Globe.png" height = "150">
    <br>
    <br>
    <button class="btn btn-success" type="submit" ui-sref="mapPage">Find a Document</button>
  </div>
</div>

</div>
