<div class="container">
<br>

<div class="row">
  <div class="col-md-6 bigButtons hoverImage">
    <a ui-sref="post">
    <h2>Post up your work</h2>
    <br>
    <img src="assets/images/pen.png" height = "150">
    <br>
    <br>
    <button class="btn btn-success" type="submit" ui-sref="post">Submit!</button>
    </a>
    <br>
  </div>

<div class="col-md-6 bigButtons hoverImage">
    <a ui-sref="mapPage">
    <h2>Find a document</h2>
    <br>
    <img src="assets/images/Globe.png" height = "150">
    <br>
    <br>
    <button class="btn btn-success" type="submit" ui-sref="mapPage">Find!</button>
    </a>
  </div>
</div>


<div class="col-md-6 bigButtons hoverImage">
    <a ui-sref="yourDocs">
    <h2>YOUR DOCUMENTS!</h2>
    <br>
    <img src="assets/images/world_map.jpg" height = "150">
    <br>
    <br>
    <button class="btn btn-success" type="submit" ui-sref="yourDocs">Your Docs</button>
    </a>
  </div>
</div>

<br>
<br>
<br>


</div>
