
<div class="container">

<div class="row">

<div class="col-md-4" ng-controller="ParameterController">

<h2>Search for a Document</h2>

<h3>By Author, Title or Subject</h3>

<br>

  <form class="navbar-form text-center">

            <div class="form-group">
              <label>Author:</label>
              <input id="search-query" required type="text" class="form-control nav-font" placeholder="SEARCH FOR" ng-model="searchAuthor">
            </div>
            <button type="submit" class="btn btn-success nav-font">SUBMIT</button>
            <br>
            <br>
             <div class="form-group">
              <label>Title:</label>
              <input id="search-query" required type="text" class="form-control nav-font" placeholder="SEARCH FOR" ng-model="searchString">
            </div>
            <button type="submit" class="btn btn-success nav-font">SUBMIT</button>
            <br>
            <br>
             <div class="form-group">
              <label>Subject:</label>
              <input id="search-query" required type="text" class="form-control nav-font" placeholder="SEARCH FOR" ng-model="searchSubject">
            </div>
            <button type="submit" class="btn btn-success nav-font">SUBMIT</button>
  </form>

   <table class="smallTable">
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Link</th>
    </tr>

    <tbody ng-repeat="i in items | searchFor:searchString">
      <tr>
        <td>{{i.author}}</td>
        <td>{{i.title}}
        <td>{{i.subject}}</td>
        <td><a href="{{i.fileUrl}}" target="_blank">Link</a></td>
      </tr>
    </tbody>

  </table>


</div> <!-- grid end -->

  <div class="col-md-8" ng-controller="SearchBoxController">
      {{currentUser.email}}
      {{currentUser.name}}

      <div id="searchBoxParent">
        <label><strong>Location: <strong></label>
      </div>
      <br>
      <div ng-show="AfterSubmit" class="col-md-3">
        <pre>{{ngModel}}</pre>
        <h4>check</h4>
      </div>

        <ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                pan="true"
                control="map.control"
                >
            <!--to add as a map control -->
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
              parentdiv="searchbox.parentdiv" ng-model="searchModel.searchTerm"
                            events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

             <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">

                  <ui-gmap-windows show="show">

                          <div ng-non-bindable>
                          <strong>Title of Document: </strong>{{title}}
                          <br>
                          <strong>Subject: </strong>{{subject}}
                          <br>
                          <a href="{{url}}" target="_blank">Link to Article</a>
                          </div>
                  </ui-gmap-windows>

              </ui-gmap-markers>

        </ui-gmap-google-map>

    <br>

    <button type="button" ng-click="toggleMap()">Toggle Visibility</button>
    <span ng-bind="searchbox.options.visible"></span>

  </div> <!-- ng-searchboxcontroller -->

  </div><!-- row -->

  <br>

  <button class="btn btn-danger" type="submit" ui-sref="home">Back to Home</button>

  <br>
  <br>
  <br>

</div><!--container -->
