<div class="container">

<h2>Upload a Document!</h2>
<br>

<form class="form-inline">
  <label>Document Title: </label>
  <input class="text-center" name="doc[title]" id="doc-title" placeholder="Title" ng-model="vm.newDoc.title"/>
  <br>
  <br>
  <label>Subject: </label>
  <input class="text-center" name="doc[subject]" id="doc-subject" placeholder="Subject" ng-model="vm.newDoc.subject"/>
  <br>
  <br>

  <label>Location: </label>
  <input class="text-center" name="doc[location]" id="doc-location" placeholder="City/State/Country" ng-model="vm.newDoc.location"/>
  <br>
  <br>

  <input class="text-center" name="doc[file]" file type="file"  id="uploadInput" ng-model="vm.newDoc.file"/>
  <br>

  <button class="btn btn-success" ng-click="upload()">Upload!</button>

<br>

</form>

<br>
<br>

    <button class="btn btn-danger" type="submit" ui-sref="mapPage">See Documents</button>

</div>
