<div class="container">

<h2>Upload a Document!</h2>
<br>

<form class="form-inline">
  <label>Document Title:</label>
  <input name="doc[title]" id="doc-title" placeholder="title" ng-model="vm.newDoc.title"/>
  <br>
  <br>
  <label>Subject:</label>
  <input name="doc[subject]" id="doc-subject" placeholder="subject" ng-model="vm.newDoc.subject"/>
  <br>
  <br>

  <label>Location:</label>
  <input name="doc[location]" id="doc-location" placeholder="city" ng-model="vm.newDoc.location"/>
  <br>
  <br>

  <input name="file" file type="file"  id="uploadInput" ng-click="vm.clear"/>
  <br>

  <button class="btn btn-success" ng-click="upload()">Upload!</button>


<br>



</form>

<br>
<br>

    <button class="btn btn-danger" type="submit" ui-sref="mapPage">See Documents</button>

</div>
